.galleryContainer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  h1{
    font-size: 50px;
    margin-bottom: 30px;
  }
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gridItem {
  width: calc(50% - 10px);
  display: flex;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden; /* Скрываем все, что выходит за пределы */
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper:hover .image {
  transform: scale(1.1); /* Масштабируем картинку при наведении */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Текст появляется снизу */
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.text {
  color: #fff;
  font-size: 18px;
  padding: 20px;
  transform: translateY(100%); /* Текст скрыт ниже */
  transition: transform 0.5s ease-in-out;
}

.imageWrapper:hover .overlay {
  opacity: 1; /* Показать overlay при наведении */
}

.imageWrapper:hover .text {
  transform: translateY(0); /* Поднимаем текст вверх при наведении */
}
