.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}



.slide {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 50px
  }
}

.card {
  display: flex;
  justify-self: center;
  padding: 12px;
}

@media (max-width: 1024px) {
  .slide h1 {
    font-size: 30px;
  }

  .card {
    .bg-img-hero-center {
      min-height: 300px;
      /* Уменьшаем высоту изображений */
    }
  }
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
  .slide h1 {
    font-size: 24px;
  }

  .card {
    .bg-img-hero-center {
      height: 300px;
      /* Еще меньше высота изображений */
    }
  }
}
.slide {
  .bg-img-hero-center {
      min-height: 700px; // Высота по умолчанию

      @media (max-width: 768px) {
          min-height: 200px; // Высота 200px при ширине экрана до 768px
      }
  }
}
