// .wrapper {
//     display: flex;
//     justify-content: flex-end; /* Размещает карточку справа */
//     padding: 20px;
//     width: 100%; /* Занимает всю ширину экрана */
//     box-sizing: border-box;
    
// }

// .contactCard {
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     background-color: #f9f9f9;
//     padding: 20px;
//     max-width: 300px;
//     width: 100%; /* Занимает всю ширину родительского контейнера */
// }

.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;
}
.logo{
  display: flex;
  gap: 30px;
  width: 200px;
  margin-left: 3px;
  img{
    width: 30px;
    height: 30px;
  }
}
.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.email{
  display: flex;
  align-items: center;
  gap: 10px;
  p{
    font-weight: 500;
  }
}
.contactItem {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

// .separator {
//     font-size: 18px;
//     color: #666;
// }
@media (max-width: 480px) {
    .contactCard {
      flex-direction: column;
    }
  
    .contactWrapper {
      margin: 5px 0;
    }
  
    .contactItem {
      font-size: 0.9rem;
      padding: 5px;
    }
  
    .separator {
      display: none;
    }
  }