.text {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 28px;
    color: white;
}

.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 120px 0px;

    h1 {
        color: white;
        font-weight: weight(900);
        font-style: normal;
    }

    img {
        width: 180px;
        height: 170px;
    }
}

.section {
    background-color: black;
    display: flex;
    align-items: start;
    justify-content: space-around;


    @media screen and (width < 768px) {
        display: flex;
        flex-direction: column;
    }
}