.text {

    font-size: 22px;
    color: white;
    text-align: center;
}

.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 120px 0px;

    .title2 {
        color: white;
        font-weight: weight(900);
        font-style: normal;
        font-size: 27px;
    }

    .title3 {
        color: white;
        font-weight: weight(900);
        font-style: normal;
        font-size: 27px;
    }

    h1 {
        color: white;
        font-weight: weight(900);
        font-style: normal;
        font-size: 27px;
    }

    img {
        width: 150px;
        height: 150px;
    }
}

.section {
    background-color: black;
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 70px;


    @media screen and (width < 768px) {
        display: flex;
        flex-direction: column;
    }
}