.wrapper {
  padding: 90px;
  background-color: #000; // или другой цвет фона

  h1{
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 500;
  }
}

.container {
  text-align: center;
}

.gallery {
  display: flex; // Flexbox для размещения изображений
  flex-wrap: wrap; // Перенос изображений на новую строку
  justify-content: center; // Центрирование изображений
}

.imgWrapper {
  width: 30%; // Ширина 30% для 3-х изображений в ряд
  margin-bottom: 10px; // Отступ между строками
}

.img {
  width: 100%; // Заполнение родительского блока
  height: 250px; 
  transition: 0.5s;// Сохранение пропорций
}
.img:hover{
  transform: scale(1.1);
}

  // Адаптация для планшетов
  @media (max-width: 1024px) {
    .container {
      h1 {
        font-size: 28px;
      }

      .img {
        max-width: 250px;
      }
    }
  }

  // Адаптация для мобильных устройств
  @media (max-width: 768px) {
    .container {
      h1 {
        font-size: 24px;
      }

      .img {
        max-width: 100%; // Изображение будет занимать всю ширину на мобильных экранах
        height: auto;
      }
    }
  }

  // Адаптация для очень маленьких экранов
  @media (max-width: 576px) {
    .container {
      h1 {
        font-size: 20px;
      }

      .img {
        max-width: 100%; // Полная ширина изображения на экранах до 576px
        height: auto;
      }
    }
  }

