@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
  position: relative;
  padding: 50px 0;

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;

    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 60px;
      margin-bottom: 50px
    }



    
    .prevButton,
    .nextButton {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      font-size: 24px;
      padding: 10px;
      cursor: pointer;
      transition: transform 0.2s ease, background-color 0.3s ease;
      z-index: 2;
    
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        transform: scale(1.1);
      }
    
      &:active {
        transform: scale(0.9);
      }
    }
    
    .prevButton {
      left: 20px; /* Расположение слева */
    }
    
    .nextButton {
      right: 20px; /* Расположение справа */
    }
    

    
    .img {
      width: 100%;
      max-width: 400px; // Максимальная ширина для больших экранов
      height: 500px;
      border-radius: 10px;
      transition: all 0.3s;
    }
  }
  .img:hover{
    transform: scale(1.15);
}

  // Адаптация для планшетов
  @media (max-width: 1024px) {
    .container {
      h1 {
        font-size: 28px;
      }

      .img {
        max-width: 250px;
      }
    }
  }

  // Адаптация для мобильных устройств
  @media (max-width: 768px) {
    .container {
      h1 {
        font-size: 24px;
      }

      .img {
        max-width: 100%; // Изображение будет занимать всю ширину на мобильных экранах
        height: auto;
      }
    }
  }

  // Адаптация для очень маленьких экранов
  @media (max-width: 576px) {
    .container {
      h1 {
        font-size: 20px;
      }

      .img {
        max-width: 100%; // Полная ширина изображения на экранах до 576px
        height: auto;
      }
    }
  }
}
